VITE_API_BASE_URL=/api
VITE_CHAT_SERVICE_URL=https://gigu-chat-notification-service-149855215912.us-central1.run.app
VITE_CHAT_WS_URL=wss://gigu-chat-notification-service-149855215912.us-central1.run.app/ws
